#org.hugoduncan.dado.ai.thread.core.MsgThread{:id "20241113205939-first_interaction", :created-at #object[java.time.Instant 0x7d43c814 "2024-11-14T01:59:39.605315Z"], :updated-at #object[java.time.Instant 0x7d43c814 "2024-11-14T01:59:39.605315Z"], :title "First interaction", :status :active, :metadata {:system nil}}