{:paths   ["src" "resources"]
 :deps    {metosin/malli         {:mvn/version "0.11.0"}
           com.taoensso/truss    {:mvn/version "1.9.0"}
           com.taoensso/telemere {:mvn/version "1.0.0-RC1"}
           babashka/fs           {:mvn/version "0.4.19"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {io.github.cognitect-labs/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                 :sha     "7284cda41fb9edc0f3bc6b6993295c6"}}}}}
