{:deps
 {org.hugoduncan/dado.chat-gpt         {:local/root "components/chat-gpt"}
  org.hugoduncan/dado.clojure-target   {:local/root "components/clojure-target"}
  org.hugoduncan/dado.clojure-fns      {:local/root "components/clojure-fns"}
  org.hugoduncan/dado.elisp-target     {:local/root "components/elisp-target"}
  org.hugoduncan/dado.elisp-funs       {:local/root "components/elisp-funs"}
  org.hugoduncan/dado.emacs-core       {:local/root "components/emacs-core"}
  org.hugoduncan/dado.nrepl-middleware {:local/root "components/nrepl-middleware"}
  org.hugoduncan/dado.operation        {:local/root "components/operation"}
  org.hugoduncan/dado.util             {:local/root "components/util"}}
 :aliases {:dev {:extra-paths ["development/src"]
                 :extra-deps  {org.clojure/clojure {:mvn/version "1.11.1"}}}

           :test {:extra-paths []}

           :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps
                  {polyfy/polylith
                   {:git/url   "https://github.com/polyfy/polylith"
                    :sha       "928e9ddce6c08889ce36e6b8367b57a6993295c6"
                    :deps/root "projects/poly"}}}}}
