{:deps    {babashka/fs           {:mvn/version "0.4.19"}
           metosin/malli         {:mvn/version "0.13.0"}
           com.taoensso/telemere {:mvn/version "1.0.0-RC1"}
           metosin/jsonista      {:mvn/version "0.3.8"}}
 :paths   ["src" "resources"]
 :aliases {:test {:extra-paths ["test"]}}}