{:paths   ["src"]
 :deps    {com.taoensso/telemere {:mvn/version "1.0.0-RC1"}
           babashka/fs           {:mvn/version "0.4.19"}
           com.taoensso/truss    {:mvn/version "1.12.0"}}
 :aliases {:test {:extra-paths ["test"]}}}
