{:paths ["src" "resources"]
 :deps  {org.clojure/clojure       {:mvn/version "1.12.0"}
         metosin/malli             {:mvn/version "0.14.0"}
         com.taoensso/telemere     {:mvn/version "1.0.0-RC1"}
         com.taoensso/truss        {:mvn/version "1.12.0"}
         metosin/jsonista          {:mvn/version "0.3.8"}
         org.hugoduncan/dado.patch {:local/root "../patch"}
         org.hugoduncan/dado.ai-tool {:local/root "../ai-tool"}}}
