{:paths ["src" "resources"]
 :deps  {babashka/fs           {:mvn/version "0.4.19"}
         selmer/selmer         {:mvn/version "1.12.55"}
         com.taoensso/telemere {:mvn/version "v1.0.0-RC1"}
         com.taoensso/truss    {:mvn/version "1.11.1"}}}
