{:paths ["src" "resources"]
 :deps {taoensso/truss {:mvn/version "1.11.0"}
        metosin/malli {:mvn/version "0.11.0"}
        com.taoensso/telemere {:mvn/version "1.0.0-RC1"}
        org.hugoduncan/dado.ai-agent {:local/root "../ai-agent"}
        org.hugoduncan/dado.ai-message {:local/root "../ai-message"}
        org.hugoduncan/dado.ai-prompt {:local/root "../ai-prompt"}}}
