{:paths   ["src"]
 :deps
 {org.hugoduncan/dado.chat-gpt         {:local/root "../../components/chat-gpt"}
  org.hugoduncan/dado.clojure-ns       {:local/root "../../components/clojure-ns"}
  org.hugoduncan/dado.clojure-fns      {:local/root "../../components/clojure-fns"}
  org.hugoduncan/dado.clojure-target   {:local/root "../../components/clojure-target"}
  org.hugoduncan/dado.elisp-funs       {:local/root "../../components/elisp-funs"}
  org.hugoduncan/dado.elisp-target     {:local/root "../../components/elisp-target"}
  org.hugoduncan/dado.nrepl-middleware {:local/root "../../components/nrepl-middleware"}
  org.hugoduncan/dado.operation        {:local/root "../../components/operation"}
  org.hugoduncan/dado.util             {:local/root "../../components/util"}
  }
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
